.deps/
.libs/
CMakeFiles/
*~
*.o
*.so
*.lo
*.la
CMakeCache.txt
Makefile
Makefile.in
cmake_install.cmake
/*.tar.gz
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/install_manifest.txt
/libtool
/ltmain.sh
/m4/
/missing
/stamp-*
/test-driver
/tmp
/groonga-normalizer-mysql.pc
/test/grntest
/test/groonga-command
/test/tmp
/packages/*.tar.gz
/packages/apt/tmp/*
/packages/ubuntu/tmp/
/packages/yum/tmp/*
/packages/rpm/*/*.spec
/.gdb_history
