.deps/
.libs/
CMakeFiles/
*~
*.a
*.o
*.so
*.lo
*.la
*.cmake
CMakeCache.txt
Makefile
Makefile.in
/*.tar.gz
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/install_manifest.txt
/libtool
/ltmain.sh
/m4/
/missing
/stamp-*
/test-driver
/tmp
/groonga-normalizer-mysql.pc
/test/grntest
/test/groonga-command
/test/groonga-command-parser
/test/tmp
/packages/*.tar.gz
/packages/apt/tmp/
/packages/apt/env.sh
/packages/apt/repositories/
/packages/apt/.vagrant/
/packages/ubuntu/tmp/
/packages/yum/env.sh
/packages/yum/tmp/*
/packages/yum/repositories/
/packages/yum/.vagrant/
/packages/yum/RPM-GPG-KEY-groonga-normalizer-mysql
/packages/rpm/*/*.spec
/packages/source/files/
/.gdb_history
